autodistill==0.1.29
autodistill_grounding_dino==0.1.4
matplotlib==3.10.3
numpy==2.2.6
opencv_contrib_python==4.11.0.86
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==11.2.1
python-dotenv==1.1.0
PyYAML==6.0.2
rfdetr==1.1.0
roboflow==1.1.66
sahi==0.11.23
scikit_learn==1.7.0
torch==2.7.1
tqdm==4.67.1
ultralytics==8.3.151
supervision==0.25.1
boxmot==13.0.4
pandas==2.3.0